a {
  display: block;
  color: rgb(173, 172, 172);
  background-color: rgba(0, 0, 0, 0.905);
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 20px;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  transition: padding 0.15s ease-in-out;
}
a:hover {
  color: white;
  padding: 25px;
}
