.logo {
  color: white;
  font-size: 3vh;
  padding: 25px 0 50px;
  font-family: "Sarabun", sans-serif;
}

.home {
  background-image: url("../images/backgroundImg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
