.home {
  background-image: url("../images/backgroundImg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
